.git
node_modules
vendor
public/build
.pnpm-store
.env
.env.*
**/.env
**/.env.*
!**/.env.example
*.log
tests
database/backups
database/dumps
**/*.sql
!database/migrations/*.sql
*.sql.gz
*.sql.zip
*.dump
