@use '../base/variables' as v;
@use '../base/mixins' as m;

.form {
    width: 100%;
    margin-top: 5rem;


}

.field {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;

    label {
        flex: 0 0 10rem;
    }

    input {
        flex: 1;
        border: none;
        padding: calc(v.$spacing / 4);
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;

        &:disabled {
            background-color: lighten(v.$color-black, 30);
            color: v.$color-white;
            cursor: not-allowed;
        }

    }
}