@use 'variables' as v;

@mixin mobile {
    @media (min-width: v.$breakpoint-mobile) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: v.$breakpoint-tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: v.$breakpoint-desktop) {
        @content;
    }
}

@mixin button($background-color, $text-color) {
    background-color: $background-color;
    padding: 1.5rem 4rem;
    color: $text-color;
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 400;
    display: inline-block;
    font-weight: 700;
    border: none;
    transition-property: background-color;
    transition-duration: .3s;
    text-align: center;
    display: block;
    width: 100%;
    margin: 5rem 0;

    @include tablet {
        width: auto;
    }

    &:hover {
        background-color: darken($background-color, 10%);
        cursor: pointer;
    }
}

@mixin grid($columns, $gap) {
    display: grid;
    gap: $gap;
    grid-template-columns: repeat($columns, 1fr);
}