@use 'variables' as v;

@mixin mobile {
    @media (min-width: v.$breakpoint-mobile) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: v.$breakpoint-tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: v.$breakpoint-desktop) {
        @content;
    }
}

@mixin button($background-color, $text-color) {
    background-color: $background-color;
    color: $text-color;
    font-family: v.$font-family;
    font-size: v.$font-size-body;
    font-weight: v.$font-weight-bold;
    line-height: 1.5;
    padding: 1.2rem 2.4rem;
    min-height: v.$control-height;
    border: none;
    border-radius: 0.6rem;
    display: block;
    text-align: center;
    width: 100%;
    margin: 3rem 0;
    transition: background-color .3s;

    @include tablet {
        width: auto;
    }

    &:hover {
        background-color: darken($background-color, 10%);
        cursor: pointer;
    }
}

@mixin grid($columns, $gap) {
    display: grid;
    gap: $gap;
    grid-template-columns: repeat($columns, 1fr);
}