@use 'variables' as v;

h1,
h2,
h3,
h4 {
    font-family: v.$font-family;
    margin: 0 0 calc(v.$spacing / 2) 0;
    font-weight: 900;
    color: v.$color-white;
    text-align: center;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 3rem;
    text-align: center;
}

p {
    color: v.$color-white;
    font-size: v.$font-size-body;
}

.page-title {
    text-align: center;
    margin: 5rem 0;
    font-weight: v.$font-weight-bold;
}

.page-description {
    text-align: center;
}

h4 {
    font-size: 2rem;
}


.login-brand {
    font-family: 'Tangerine', cursive;
    font-size: clamp(7rem, 10vw, 12rem);
    font-weight: 700;
    line-height: 1.15;
    text-align: center;
    margin: 3rem 0 2rem;
}
