$font-family: 'Poppins', sans-serif;

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

$color-blue: #0da6f3;
$color-red: #cb0000;
$color-green: #329f00;
$color-black: #1a1b15;

$color-white: #FFFFFF;
$color-gray: #e1e1e1;

$spacing: 5rem;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-black: 900;

$font-size-body: 1.6rem;
$control-height: 4.8rem;
