@use '../base/variables' as v;
@use '../base/mixins' as m;

.service-list {

    @include m.tablet {

        display: grid;
        gap: 2rem;

        @include m.grid(2, 2rem);
    }

    .service {
        background-color: v.$color-white;
        padding: 3rem;
        border-radius: 1rem;
        transition-property: transform;
        transition-duration: 180ms;
        text-align: center;

        @include m.tablet {
            text-align: left;
        }

        &.selected {
            background-color: v.$color-blue;

            p {
                color: v.$color-white;
            }
        }

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                transform: scale(1.02);
            }
        }

        @media (prefers-reduced-motion: reduce) {
            transition: none;

            &:hover {
                transform: none;
            }
        }

        p {
            color: v.$color-black;
            margin: 0 0 calc(v.$spacing / 4) 0;
        }

        .service-price {
            color: v.$color-blue;
            font-weight: v.$font-weight-bold;
            font-size: 2rem;
            margin: 0;
        }
    }
}