@use '../base/variables' as v;
@use '../base/mixins' as m;

.app-container {
    @include m.tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        min-height: 100vh;
    }

    .image {
        height: 20rem;
        background-image: url(../img/image-hero.avif);
        background-size: cover;
        background-position: center center;

        @include m.tablet {
            height: auto;
        }
    }

    .app {
        width: 95%;
        min-width: 0;
        margin: 0 auto;
        padding: 3rem 0;

    }
}

.nav {

    margin: v.$spacing 0;

    @include m.tablet {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1.2rem;
        align-items: center;
    }

    .button {
        @include m.button(v.$color-black, v.$color-white);
        margin: 0;
    }
}

.services-nav {
    margin-bottom: v.$spacing;

    @include m.tablet {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1.2rem;

    }

    .button {
        margin: 0 0 1rem 0;
    }
}